<?php // echo $this->yellow->page->getPage("footer")->getContentHtml() ?>
<!-- new -->
    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          <span class="js-clone-nav">&copy;2021-<?php echo date("Y"); ?> ❤️ YugaPhoto</span> | Tallinnas ja Harjumaal
          <?php /** <span><br /> Amakac OÜ (reg. nr: 12554815) </span> **/?>
        </p>
      </div>
    </div>
  </div>
  <!-- new -->
<?php echo $this->yellow->page->getExtraHtml("footer") ?>
<script src="/media/themes/yugaphoto/js/masonry.pkgd.min.js"></script>
<script src="/media/themes/yugaphoto/js/main.js"></script>
</body>
</html>